

mat-grid-tile {
    background: black;
    cursor: pointer;
  }

  #content{
    padding: 30px;
  }

  mat-card {
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .upload-btn-wrapper {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    bottom: 0;
    right: 0;
  }
  #btn{
    border-radius: 70px;
    height: 60px;
    background-color: #1776D2;
    color: #fff;
    font-size: xx-large;
    /* position:absolute; */
    bottom:0;
    right:0;
    margin: 20px;
}
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }