<div id="content">
  <div class="upload-btn-wrapper">
    <button id="btn" mat-raised-button>+</button>
    <input type="file" name="myfile" accept="video/mp4,video/x-m4v,video/*" (change)="saveVideo($event.target.files)" />
  </div>
  <h4>Videos</h4>
  <p *ngIf="!videos.length">No item</p>
  <mat-grid-list cols="4" rowHeight="5:3" gutterSize="10px">
    <mat-grid-tile *ngFor="let video of videos" (click)="openVideo(video.source.url)">
      <video width='100%' height='100%' style="object-fit: fill;">
        <source [src]=getFileUrl(video.source.url) type='video/mp4'>
        <source [src]=getFileUrl(video.source.url) type='video/ogg'>
      </video>
      <button mat-mini-fab color="warn" (click)="deleteVideo(video); $event.stopPropagation()"
        style='position:absolute; right:10px; bottom: 10px;'>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-spinner *ngIf="loadingData" style="left: 45%;"></mat-spinner>
</div>