<div class="main">
    <mat-card>
<h4>Add Warranty</h4>
<mat-divider></mat-divider>
<div class="example-container">
    <mat-grid-list cols="2" >
        <mat-form-field>
          <input matInput placeholder="Serial No." [(ngModel)]="newRecord.serialNo">
        </mat-form-field>
      
        <mat-form-field>
          <input matInput type="date" placeholder="Delivery Date" [ngModel]="newRecord.deliveryDate | date:'yyyy-MM-dd'" (ngModelChange)="newRecord.deliveryDate = $event">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Customer" [(ngModel)]="newRecord.customer">
        </mat-form-field>        
             
        <mat-form-field>
            <input matInput placeholder="Warranty Till" [ngModel]="newRecord.warrantyTill | date:'yyyy-MM-dd'" (ngModelChange)="newRecord.warrantyTill = $event">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Location" [(ngModel)]="newRecord.location">
        </mat-form-field>

        <mat-form-field>
                    <mat-label>Product</mat-label>
                    <mat-select matNativeControl required [(ngModel)]="selectedProductIndex">
                            <mat-option *ngFor="let product of productData; let idx = index" [value]="idx">
                              {{product.partNo}}
                            </mat-option>
                          </mat-select>
        </mat-form-field> 
    </mat-grid-list>
</div>
<button mat-raised-button (click)="saveRecord()">Save</button>
</mat-card>
</div>