<div style="padding-left: 20px; padding-right: 20px;">
    <h4>Warranty Report</h4>
    <mat-list>
        <mat-list-item class="listItem"> Serial No.  {{item.serialNo}}</mat-list-item>
        <mat-list-item class="listItem"> Delivery Date: {{item.deliveryDate | date}}</mat-list-item>
        <mat-list-item class="listItem"> Customer: {{item.customer}}</mat-list-item>
        <mat-list-item class="listItem"> NSN: {{item.nsn}}</mat-list-item>
        <mat-list-item class="listItem"> Designation: {{item.designation}}</mat-list-item>
        <mat-list-item class="listItem"> Part No: {{item.partNo}}</mat-list-item>
        <mat-list-item class="listItem"> Value: {{item.value}}</mat-list-item>
        <mat-list-item class="listItem"> Warranty Period: {{item.warrantyPeriod}}</mat-list-item>
        <mat-list-item class="listItem"> Warranty Till: {{item.warrantyTill | date}}</mat-list-item>
        <mat-list-item class="listItem"> Type: {{item.type}}</mat-list-item>
        <mat-list-item class="listItem"> Location: {{item.location}}</mat-list-item>
    </mat-list>
</div>