<div id="main">
    <h4>Warranty Report</h4>
    <mat-nav-list>
        <mat-list-item> Serial No.  {{item.serialNo}}</mat-list-item>
        <mat-list-item> Delivery Date: {{item.deliveryDate | date}}</mat-list-item>
        <mat-list-item> Customer: {{item.customer}}</mat-list-item>
        <mat-list-item> NSN: {{item.nsn}}</mat-list-item>
        <mat-list-item> Designation: {{item.designation}}</mat-list-item>
        <mat-list-item> Part No: {{item.partNo}}</mat-list-item>
        <mat-list-item> Value: {{item.value}}</mat-list-item>
        <mat-list-item> Warranty Period: {{item.warrantyPeriod}}</mat-list-item>
        <mat-list-item> Warranty Till: {{item.warrantyTill | date}}</mat-list-item>
        <mat-list-item> Type: {{item.type}}</mat-list-item>
        <mat-list-item> Location: {{item.location}}</mat-list-item>
    </mat-nav-list>
</div>