<style>
  

 


 

  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  
  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }
   
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  } 
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span style='padding-left: 20px; flex: 1 1 auto;'>Repair Order demo</span>
  <button mat-raised-button style='margin-right: 20px;'><a href="/admin" target="blank">Admin</a></button>
</div>
<router-outlet></router-outlet>