<h3>Add Warranty</h3>
<div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Serial No.">
        </mat-form-field>
      
        <mat-form-field>
          <input matInput type="date" value="{{date}}" placeholder="Delivery Date">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Customer name">
        </mat-form-field>
</div>

<button mat-raised-button color="primary" (clcik)="saveRecord()">Save</button>


