#btn{
    border-radius: 70px;
    height: 60px;
    background-color: #1776D2;
    color: #fff;
    font-size: xx-large;
    position:absolute;
    bottom:0;
    right:0;
    margin: 20px;
}

#icon{
  color: #1776D2;
}

#content{
    padding: 30px;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
